*{
    box-sizing: border-box;
    margin: 0;
   
}

:root{
    --black:#080808;
    --white:#F6F6F6;
    --hover:#F66F08;

}

body{
    background-color: var(--black);
}

.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* ------- NAV STYLING -------- */

.logo-fname{
    color: var(--hover);
}

 .logo-lname{
    color: var(--white);
}

.logo-fname,.logo-lname{
    font-family: 'Monserrat',sans-serif;
    font-size: 24px;
    font-family: 500;
    line-height: 24px;
    letter-spacing: 0.56;
    cursor: pointer;
}

.nav-menu-list{
    list-style: none;
    padding-top: 20px;
}


.link{
    text-decoration: none;
    color: var(--white);
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    position: relative;
    
}

.link::after{
    content: '';
    width: 0;
    height: 3px;
    background: var(--hover);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.link:hover::after{
    width: 100%;
}

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.nav-menu-list{
    display: flex;
}

.nav-home,.nav-about,.nav-porfolio,.nav-services,.nav-contact{
    margin-right: 50px;
}


/* ----- END OF NAV STYLING ------- */

/* ----- BANNER STYLING ----- */

.title-text{
    color: var(--white);
    color: var(--white);
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;text-align: center;
    
}

.title{
    color: var(--white);
    font-family: 'Monserrat',sans-serif;
    font-size: 32px;
    font-family: 500;
    line-height: 24px;
    letter-spacing: 0.56;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: center;  
}

.title-name{
    color: #F66F08;
    font-family: 'Monserrat',sans-serif;
    font-size: 35px;
    font-family: 500;
    line-height: 24px;
    letter-spacing: 0.56;
    padding-bottom: 5px;
    padding-top: 5px;
}

.banner-item{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-btn{
    text-align: center;
    padding-top: 20px;
}

.download-btn{
    padding: 5px;
    background: var(--black);
    color: var(--hover);
    border: 1px solid var(--white);
    border-radius: 10px;
    font-family: 'Opens Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    cursor: pointer;
}

.download-btn:hover{
    background: var(--hover);
    color: var(--white);
}




    
